.node {
  width:100px;
  height:100px;
  border:1px solid gray;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
}
.isPath { 
  background-color: teal;
}
.isStart {
  background-color:greenyellow;
}
.isEnd { 
  background-color: #354040;
}
.isWall {
  background-color:#B2D8D8;
}
.emptyNode {
  background-color: #fff;
}
.blockNode {
  background-color:#B2D8D8;
}