.node {
  width:20px;
  height:20px;
  border:1px solid gray;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
}
.openSet { 
  background-color: #FF0;
}
.closedSet {
  background-color: #03fc30;
  transition: background-color 500ms linear;
}
.isPath { 
  background-color: teal;
  transition: background-color 500ms linear;
}
.isStart {
  background-color:greenyellow!important;
}
.isEnd { 
  background-color: #354040;
}
.isWall {
  background-color:#B2D8D8;
}
.emptyNode {
  background-color: #fff;
}
.blockNode {
  background-color:#B2D8D8;
}